.DisasterTypes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  .DisasterTypes li a {
    display: block;
    color:#f1f1f1;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .DisasterTypes li a:hover {
    background-color: #555;
    color: white;
  }
  .frame{
    position:absolute;
    left: 13%;
    top: 15%;
    width: 1200px;
    height: 650px;
    overflow-x: hidden;
}
.DisasterTypes{
    margin-top:1%;
    background-color: #333;
    color:#f1f1f1;
}
body{
background-image: url('https://th.bing.com/th/id/R.9159bc146bd8c920516f4b147ea608ea?rik=ErpjUVznmGKl6w&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fYEJCt7x.jpg&ehk=3gRCiREQz4GRUAZxC0G3XTgbyCNUuTnoucuSQonkcFw%3d&risl=&pid=ImgRaw&r=0');
/* background-color: #30475E; */
}
