.text{
    position: absolute;
    left:20%;
    top:10%;
    overflow: hidden;
}
.video1{
    position: absolute;
    left:60%;
    top:10%
}
.video2{
    position: absolute;
    left:60%;
    top:40%
}
.video3{
    position: absolute;
    left:60%;
    top:70%;
    width:20%;
    height: 10%;
}