body{
    overflow-x: hidden;
        background-color:#30475E;
        
            background-image: url('https://th.bing.com/th/id/R.9159bc146bd8c920516f4b147ea608ea?rik=ErpjUVznmGKl6w&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fYEJCt7x.jpg&ehk=3gRCiREQz4GRUAZxC0G3XTgbyCNUuTnoucuSQonkcFw%3d&risl=&pid=ImgRaw&r=0');
            /* background-color: #30475E; */

    
}

.Text{
    font-size: 24px;
    color:#333;
    background-color: #eaeaea;
    height:100%;
    width: 670px;
    border: 0px solid black;
    border-radius: 4px;
    margin-right: -10%;
}
.title{
    text-align: center;
    font-size: 41px; 
     height:25px;
    
}
.main{
    display: flex;
    flex-direction:row;
}
.video{
    position: absolute;
    margin-left: 201px;
    left: 41%;
}
.titleB{
    text-align: center;
}
.text{
    padding: 7px;
}