*{
    margin: 0;
    padding: 0;
}
.weather-container {
    height: 450px;
    width: 100%;
    border-radius: 5px;
    background-image: url("/assets/white-cloud-blue-sky.jpg");
    display: grid;
    grid-template-rows: .2fr 1.5fr 1fr ;
    padding: 10px;
    gap: 5px;
}

#location-input{
    padding-left: 2%;
    width: 100%;
    border: none;
    border-radius: 2px;
    outline: none;
}
.weather-1-card-body{
    /* display: flex; */
}
.weather-1-card-body img{
    height: 80px;
    width: 80px;

}
#box2 p{
    font-size: 25px;
}
.weather-1-card-body p{
    color: aliceblue;
}
.weather-box {
    background-color: transparent;
    border: 2px solid white;
}

.weather-2 {
    padding: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, 20%);
    overflow-x: auto;
    gap: 0px 5px;
}

.notification-container::-webkit-scrollbar,.weather-2::-webkit-scrollbar {
    height: 10px;
}

.notification-container::-webkit-scrollbar,.weather-2::-webkit-scrollbar-track {
    background: white;
    width: 5px;
}

.notification-container::-webkit-scrollbar,.weather-2::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
}

.notification-container::-webkit-scrollbar,.weather-2::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.75);
}

.hour-forcast {
    border: 1px solid black;
}